@import 'loader.scss';
$white: #F3F3F3;
$white-green: #99E2D0;
$green: #008766;
$white-blue: #89C8FA;
$blue: #003A68;
$purple: #9356DC;
$pink: #FF79DA;

body {
	background: #ffffff;
	font-family: 'Roboto', Arial, sans-serif;
	margin: 0;
	padding: 0;

    button {
        cursor: pointer;
    }

    h1, h2, h3, h4, h5, h6, p {
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: inherit;
        z-index: 50;
    }

    /* FOOTER */
    footer {
        background: #353535;
        padding: 22px 25px;

        .footer-logo {
            filter: brightness(0) invert(1);
            width: 110px;
            margin-bottom: 15px;
        }

        .footer-item {
            display: flex;
            align-items: center;
            margin-bottom: 7px;
            gap: 12px;
            
            img {
                width: 11px;
                height: 13px;
            }

            p {
                color: white;
                font-weight: 500;
                font-size: 16px;
            }
        }

        .footer-text {
            color: white;
            font-weight: 400;
            font-size: 16px;
            margin-bottom: 7px;
        }
    }
}

/*********** MEDIA QUERIES ***********/


/*********** MEDIUM MODE ( TABLETTE ) ***********/
@media screen and (min-width: 700px) and (max-width: 1440px) {

	footer {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		gap: 40px;
		height: 94px;
		padding: 0 0 20px 10px;
		.footer-items { 
			display: flex; 
			gap: 16px; 
		}
		.footer-texts { 
			display: flex; 
			gap: 16px; 
		}
		.footer-logo { 
			order: 10; 
			margin-right: 30px; 
		}
		.footer-item, .footer-text { 
			order: 1; 
		}
	}
}

/* LARGE MODE ( DESKTOP ) */
@media screen and (min-width: 1440px) {

	footer {
		display: flex;
		justify-content: flex-end;
		align-items:flex-end;
		gap: 100px;
		height: 94px;
		padding: 0 0 20px 0;
		.footer-items {
			display: flex;
			gap: 20px;
		}
		.footer-texts {
			display: flex;
			gap: 20px;
		}
		.footer-logo {
			order: 10;
			margin-right: 60px;
		}
		.footer-item, .footer-text {
			order: 1;
		}
	}
}
