/* LOADER STYLE */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  animation: loader-fadeout 1s 2s forwards;
}

.loader {
  width: 64px;
  height: 64px;
  border: 8px solid #9356dc;
  border-top: 8px solid #ff79da;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-fadeout {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
body {
  background: #ffffff;
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
  padding: 0;
}
body button {
  cursor: pointer;
}
body h1, body h2, body h3, body h4, body h5, body h6, body p {
  margin: 0;
  padding: 0;
}
body a {
  text-decoration: none;
  color: inherit;
  z-index: 50;
}
body {
  /* FOOTER */
}
body footer {
  background: #353535;
  padding: 22px 25px;
}
body footer .footer-logo {
  filter: brightness(0) invert(1);
  width: 110px;
  margin-bottom: 15px;
}
body footer .footer-item {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  gap: 12px;
}
body footer .footer-item img {
  width: 11px;
  height: 13px;
}
body footer .footer-item p {
  color: white;
  font-weight: 500;
  font-size: 16px;
}
body footer .footer-text {
  color: white;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 7px;
}

/*********** MEDIA QUERIES ***********/
/*********** MEDIUM MODE ( TABLETTE ) ***********/
@media screen and (min-width: 700px) and (max-width: 1440px) {
  footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 40px;
    height: 94px;
    padding: 0 0 20px 10px;
  }
  footer .footer-items {
    display: flex;
    gap: 16px;
  }
  footer .footer-texts {
    display: flex;
    gap: 16px;
  }
  footer .footer-logo {
    order: 10;
    margin-right: 30px;
  }
  footer .footer-item, footer .footer-text {
    order: 1;
  }
}
/* LARGE MODE ( DESKTOP ) */
@media screen and (min-width: 1440px) {
  footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 100px;
    height: 94px;
    padding: 0 0 20px 0;
  }
  footer .footer-items {
    display: flex;
    gap: 20px;
  }
  footer .footer-texts {
    display: flex;
    gap: 20px;
  }
  footer .footer-logo {
    order: 10;
    margin-right: 60px;
  }
  footer .footer-item, footer .footer-text {
    order: 1;
  }
}
